/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;  
}
