/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */





html {
  position: relative;
  min-height: 100vh !important;
}

body {
  margin-bottom: 70px !important;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;  
}
